<!DOCTYPE html>
<html>

<head>
    <title>Find Map</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <script src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbScbVsXV4tnZ8bxLvry-69GIFb1RypYE&libraries=geometry,places">
</script>
    <script src="/javascripts/global.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <div class="row">
        <div id="loading" class="col-md-12">
            <p>Loading Your Location</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9" id="map"></div>
        <div class="col-md-3">
            <p>Find Location</p>
                <input id="address" type="text" name="address" value="" placeholder="Enter Find Location">
                <br>
                <br>
                <button id="getCords" onclick="codeAddress();">Get Nearest Theater</button>
        </div>
    </div>
</body>

</html>
