doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/javascripts/jquery.min.js')
    script(src='https://maps.google.com/maps/api/js?libraries=places&sensor=true')
    script(src='/javascripts/global.js')
    h1= title
    #loading
      p Loading your location
    br
    #map
    form(action='/', method='post')
    input#address(type='text',name='address')
    button#getCords(onclick='codeAddress();') Get Nearest Theater


