<!DOCTYPE html>
<html>

<head>
    <title>Find Map</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQLJ9FHXUW6ltRA6Rd4d8VuaEifQPomHQ&libraries=geometry,places">
    </script>
    <script src="/javascripts/global.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body >

    <div class="container-fluid">
        <div class="row">
        <div id="loading" class="col-md-12">
            <p>Loading Your Location</p>
        </div>
</div>
        <div class="row">
            <div class="col-md-9" id="map"></div>
            <div class="col-md-3" id="dis">
                <div class="row">
                    <p>Find Location</p>
                    <input id="address" type="text" name="address" value="" placeholder="Enter Find Location">
                    <br>
                    <br>
                    <button id="getCords" onclick="codeAddress();">Get Nearest Theater</button>
                </div>
                

            </div>
        </div>
    </div>
</body>

</html>